
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400px;
  font-style:  normal;
}

/* shared style  */
.text-primary{
    color: #FF900E;
}

.display-flex{
    display: flex;
}
.text-gray{
    color:#424242;
}
.light-gray{
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    text-size-adjust: 1.25rem;
    font-weight: 500px;
   
    border-radius: 8px;
}
section{
    margin:130px 0;
}

/* header style  */

.bg-color{
    background-color: #FF900E;
}


/* navbar related style  */

.navbar {
   
    justify-content: space-between;
    align-items: center;

   
    
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
   
    
}
/* .navbar, .banner{
    max-width: 1440px;
    margin:0 auto;
} */
 nav .banner{
    max-width: 1440px;
    margin:0 auto;
 }

.band{
    font-size: 3rem;
    font-weight: 700px;
}
/* banner related  */
.banner-content{
    max-width: 850px;
    margin:0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700px;
    font-size: 4rem;
   
}
.banner-img{
    width: 100%;
}

/* main section related sytle  */
main{
    max-width: 1440px;
    margin:0 auto;
}
.teams{
    align-items: center;
   
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
   
}
.features{
    margin-left: 130px;
    max-width: 530px;
}
.features-title{
    width: 468px;
    height: 106px;
    font-size: 2.8rem;   
}

.quick-list{
    color:#727272;
    font-weight: 500px;
}
.our{
     color:black;
     font-weight: bold;
}
.our-feature{
    color:#FF900E;
    font-weight: bold;
}
/* apu moni section  */
#feature-section-title{
    border-left:5px solid #FF900E;
    padding-left: 20px;
}
.div,h4{
    font-weight: 600px;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.s-features-card{
    padding: 30px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}
.s-features {
    gap:100px;
}
/* some facts related */
.some-fact{
    max-width: 1440px;
    margin:0 auto;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    margin-top:10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600px;
    color:#424242;
    
}
.some-facts{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;

    
}
.fact-description{
    max-width: 540px;
}

.sponsor-info{
    max-width: 540px;
    margin:50px auto;
    text-align: center;

}
.sponsor-img{
    display: grid;
    grid-template-columns: repeat(5,1fr);
   
}
.sponsor-img img{
    filter:grayscale(100%);
}






/* responsive media style  */
@media screen and (max-width:576px){
    .navbar, 
    .nav-links,
    .teams,
    .some-facts
    {
        flex-direction: column;
    }
    .features{
        margin-left: 30px;
    }
    .team-img 
    {
        grid-template-columns: repeat(1,1fr);
    }
    .team-img{
        grid-template-columns: repeat(1,1fr);
    }
    .some-facts{
        grid-template-columns: 1fr;
        gap:20px;
        justify-content: center;
        align-items: center;
    }   
   .our-sponsor,.sponsor-img{
    grid-template-columns: repeat(3,1fr);
    gap:20px;
   }  
}

/* tablet screen responsive */
@media screen and (min-width:576px) and (max-width:992px){
     .teams{
        flex-direction: column;
     }
     .features{
        margin-left: 50px auto;
     }
}
